extends layout

block content
  h2.card-title='Actual metrics:'
  div.card.card-body.bg-light.border-info
    p 
      strong Date: 
      | #{ new Date(actual.createdAt || Date.now()).toLocaleString() || 'No information' }

    p 
     strong Temperature: 
     | #{ actual.t || 'No information'}

    p 
      strong Humidity:
      | #{ actual.h || 'No information' }